<table class='table table-hover'>
  <thead>
    <tr>
      <th scope='col'>名前</th>
      <th scope='col'>メールアドレス</th>
      <th scope='col'>作成日時</th>
      <th scope='col'>更新日時</th>
      <th scope='col'>編集</th>
      <th scope='col'>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class='table-light'>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= user.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
